@model CV_Udemy.Models.Entity.TBL_Admin

@{
    ViewBag.Title = "AdminGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4 style="fon">Admin Güncelleme Sayfası</h4>

<form class="form-group" method="post">

    @Html.Label("ID", new { @class = "form-control" })

    @Html.TextBoxFor(x => x.ID, new { disabled = "disabled", @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı", new { @class = "form-control" })

    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre", new { @class = "form-control" })

    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Güncelle</button>

</form>
