@model CV_Udemy.Models.Entity.TBL_Experience
@{
    ViewBag.Title = "ExperienceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4 style="font-family: 'Itim' ">Yeni Deneyim Ekleme Sayfası</h4>

<form class="form-group" method="post">
    <p style="font-family: 'Itim' ">İş Deneyimi</p>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:Red" })
    @*<br />
        <p class="font-weight-bold">Alt Başlık</p>
        @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Subtitle, "", new { @style = "color:Red" })*@

    <br />
    <p style="font-family: 'Itim' ">Çalışma Süresi</p>
    @Html.TextBoxFor(x => x.DateTime, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @Html.ValidationMessageFor(x => x.DateTime, "", new { @style = "color:Red" })
    <br />
    <p style="font-family: 'Itim' ">Açıklama</p>
    <textarea type="text" style="font-family:'The Great Escape'" name="Description" class="form-control" rows="6" placeholder="Açıklama"></textarea>
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:Red" })
    <br />

    <button class="btn btn-info" style="font-family:'The Great Escape'">Ekle</button>

</form>

