@model CV_Udemy.Models.Entity.TBL_Experience
@{
    ViewBag.Title = "ExperienceGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4 style="font-family: 'Itim' ">Deneyim Güncelleme Sayfası</h4>

<form class="form-group" method="post">

    <p style="font-family: 'Itim' ">ID</p>

    @Html.TextBoxFor(x => x.ID, new { disabled = "disabled", @class = "form-control", @style = "font-family:'The Great Escape'" })
    <br />
    <p style="font-family: 'Itim' ">İş Deneyimi</p>

    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @*<br />
    @Html.Label("Alt Başlık", new { @class = "form-control" })

    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })*@
    <br />
    <p style="font-family: 'Itim' ">Çalışma Süresi</p>
    @Html.TextBoxFor(x => x.DateTime, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    <br />
    <p style="font-family: 'Itim' ">Açıklama</p>

    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @Rows = "6" , @style = "font-family:'The Great Escape'" })
    <br />
    <button class="btn btn-info" style="font-family:'The Great Escape'">Güncelle</button>

</form>
