@using CV_Udemy.Models.Entity
@*@model List<TBL_TodoList>*@
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_TodoList>

@{
    ViewBag.Title = "Index/Admin2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string text = ""; }
@{ string state = ""; }
<br />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.css">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <p>Toplam Ödül & Sertifika Sayısı<p>
                                <h3><sup style="font-size: 20px">@ViewBag.m1</sup></h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa-solid fa-file-certificate fas"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <p>Mevcut Yetenek Sayısı</p>
                            <h3><sup style="font-size: 20px">@ViewBag.m2</sup></h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <p>Aktif Sosyal Medya Sayısı</p>
                            <h3><sup style="font-size: 20px">@ViewBag.m3</sup></h3>

                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <p>Gelen Mesaj Sayısı</p>
                            <h3><sup style="font-size: 20px">@ViewBag.m4</sup></h3>

                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="ion ion-clipboard mr-1"></i>
                                Yapılacaklar Listesi
                            </h3>


                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <ul class="todo-list" data-widget="todo-list">
                                @foreach (var item in Model)
                                {
                                    if (item.Situation == false)
                                    {
                                        text = "text-decoration:line-through";
                                        state = "#1c9133";

                                    }
                                    else
                                    {
                                        text = "text-decoration:auto";
                                        state = "#000000";
                                    }

                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fas fa-ellipsis-v"></i>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </span>

                                        <span class="text" style="@text ;color:@state">@item.Description</span>

                                        @*<small class="badge badge-danger"><i class="far fa-clock"></i></small>*@
                                        <span style="padding:inherit"> </span>
                                        <div class="tools">
                                            <a href="/Admin2/UTodo/@item.ID" class="btn btn-info float-right">
                                                <i class="fas fa-edit"></i>
                                                <i class="fas fa-trash-o"></i>
                                            </a>
                                        </div>

                                        <a href="/Admin2/RTodo/@item.ID" class="btn btn-default"><i class="fa-solid fa-bell fa"></i></a>
                                    </li>

                                }
                            </ul>
                            @Html.PagedListPager((IPagedList)Model, number => Url.Action("Index", new { number }))
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <button type="button" data-toggle="modal" data-target="#Modal1" class="btn btn-info float-right"><i class="fas fa-plus"></i> Yeni Ekle</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </section>

            </div><!-- /.container-fluid -->
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">To-Do List Paneli</h2>
                    </div>
                    <form method="post" action="/Admin2/ATodo/">
                        <div class="modal-body">
                            <label>To-Do ADD</label>
                            <input type="text" name="Description" class="form-control" />
                            <br />

                            <button class="btn btn-info" id="btn1">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <script>
        $('#btn1').click(function () {
            swal("Harika!", "Eklendi", "success");
        })
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="~/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/admin/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/admin/dist/js/demo.js"></script>
</body>
</html>
