@model CV_Udemy.Models.Entity.TBL_Certificate

@{
    ViewBag.Title = "CertificateNew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<br />
<h4 style="font-family: 'Itim' ">Yeni Sertifika Sayfası</h4>

<form class="form-group" method="post">


    <br />
    <p class="font-weight-bold" style="font-family: 'Itim' ">Ödül & Sertifika</p>
    @Html.TextBoxFor(x => x.Certificate, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @Html.ValidationMessageFor(x => x.Certificate, "", new { @style = "color:Red" })
    <br />
    @*@Html.Label("Derece", new { @class = "form-control" })*@
<p class="font-weight-bold" style="font-family: 'Itim' ">Ödül & Sertifika Numarası</p>
    @Html.TextBoxFor(x => x.Number, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @Html.ValidationMessageFor(x => x.Number, "", new { @style = "color:Red" })
    <br />
    <p class="font-weight-bold" style="font-family: 'Itim' ">Tarih</p>
    @Html.TextBoxFor(x => x.Datetime, new { @class = "form-control", @style = "font-family:'The Great Escape'" })
    @Html.ValidationMessageFor(x => x.Datetime, "", new { @style = "color:Red" })
    <br />
    <button class="btn btn-info" id="btn1" style="font-family:'The Great Escape'">Ekle</button>

</form>

<script>
    $('#btn1').click(function () {
        swal("Harika!", "Ödül & Sertifika eklendi", "success");
    })
</script>