@using CV_Udemy.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBL_Certificate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="font-family: 'Itim' ">
                                    Ödül & Sertifika Listem
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Certicate/CertificateNew/" style="font-family:'The Great Escape'" class="btn btn-light">Sertifika Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr style="font-family: 'Itim' ">
                                            <th style="width: 10px">#</th>
                                            <th>Ödül & Sertifika Numarası</th>
                                            <th>Ödül & Sertifika</th>
                                            <th>Tarihi</th>
                                            <th>Sil</th>
                                            <th>Düzenle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr style="font-family:'The Great Escape'">
                                                <td>@item.ID</td>
                                                <td>@item.Number</td>
                                                <td>@item.Certificate</td>
                                                <td>@item.Datetime</td>
                                                <td>
                                                    @*@Html.ActionLink("Sil", "CertificateRemove", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Emin misin?')" })*@

                                                    <a href="/Certicate/CertificateRemove/@item.ID" id="btnRemove" class="btn btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                        Sil
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/Certicate/CertificateGet/@item.ID" class="btn btn-info">
                                                        @*<i class="fas fa-pencil-alt"></i>*@
                                                        Düzenle
                                                    </a>
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                @Html.PagedListPager((IPagedList)Model, number => Url.Action("Index", new { number }))                        <!-- /.card -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>


</body>
</html>

<script>
    $('#btnRemove').click(function () {
        swal({
            title: "Emin Misin?",
            text: "Bu Ödül veya Sertifikayı silmek istiyor musun?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Ödül & Sertifika silindi", {
                        icon: "success",
                    });
                } else {
                    swal("Ödül & Sertifika silinmedi!");
                }
            });
    })
</script>